server:
  address:     ":80"
#  openapiPath: "/api.json"
#  swaggerPath: "/swagger"
  LogPath:          "./log"
  LogStdout:        true
  ErrorStack:       true
  ErrorLogEnabled:  false
  serverAgent: ""
  ServerRoot: "public"
  indexFiles: ["index.html"]
  graceful: true
  gracefulTimeout: 5
  dumpRouterMap: true
  clientMaxBodySize: 81024102400          # 客户端最大Body上传限制大小，影响文件上传大小(Byte)。默认为8*1024*1024=8MB
logger:
  path: "./log"   # 日志文件路径。默认为空，表示关闭，仅输出到终端
  file: "{Y-m-d}.log" # 日志文件格式。默认为"{Y-m-d}.log"
  prefix: ""            # 日志内容输出前缀。默认为空
  level: "all"         # 日志输出级别
  stdout: true          # 日志是否同时输出到终端。默认true
  rotateSize: 0             # 按照日志文件大小对文件进行滚动切分。默认为0，表示关闭滚动切分特性
  rotateExpire: 86400             # 按照日志文件时间间隔对文件滚动切分。默认为0，表示关闭滚动切分特性
  rotateBackupLimit: 0             # 按照切分的文件数量清理切分文件，当滚动切分特性开启时有效。默认为0，表示不备份，切分则删除
  rotateBackupExpire: 3             # 按照切分的文件有效期清理切分文件，当滚动切分特性开启时有效。默认为0，表示不备份，切分则删除
  rotateBackupCompress: 0             # 滚动切分文件的压缩比（0-9）。默认为0，表示不压缩
  rotateCheckInterval: "1h"          # 滚动切分的时间检测间隔，一般不需要设置。默认为1小时
gorm: "/etc/gorm.db"